<div
    class="relative isolate overflow-hidden bg-gray-50 dark:bg-gray-950 bg-hero-pattern bg-cover bg-no-repeat bg-center bg-blend-exclusion">
    <app-header></app-header>
    <section class="relative w-full mx-auto">
        <div
            class="sm:px-8 px-6 pb-10 inset-0 max-w-7xl mx-auto flex flex-col items-center gap-5 text-gray-800 dark:text-white">
            <h2 class="font-black md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px]" data-aos="fade-up">About Me.
            </h2>
            <p class="mt-1 text-[17px] max-w-3xl leading-[30px] text-center" data-aos="fade-up">
                Hello there! I'm Rishabh Singh, a web developer with a strong passion for full-stack web development and
                design. I
                graduated from <a class="text-blue-700 hover:text-blue-500 hover:underline cursor-pointer"
                    href="https://mituniversity.ac.in/">MIT ADT University</a> and hold a Bachelor's degree in
                Computer Science and Engineering. My career aspirations revolve around the exciting prospect of
                channeling my creativity into
                crafting
                exquisite software and captivating user experiences. </p>
            <p class="text-[17px] max-w-3xl leading-[30px] text-center" data-aos="fade-up">
                Outside the digital realm, I find enjoyment in activities such as playing chess, cricket, and
                watching
                movies.
                Additionally, I enjoy listening to rock and indie music.</p>
            <div class="mt-2 px-10 py-6 bg-gradient-to-br from-opacity-10 to-transparent backdrop-blur-sm border border-gray-200 rounded-lg shadow dark:border-gray-700"
                data-aos="flip-down">
                <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">TL;DR? SELF
                    PROCLAMATIONS:</h3>
                <div class="pt-8 flex justify-around items-center">
                    <a href="https://github.com/rishabh1S/" target="_blank"
                        class="flex flex-col justify-center items-center">
                        <i
                            class="fa-regular fa-keyboard fa-2xl text-gray-700 dark:text-gray-300 p-4 hover:transform hover:scale-125 transition-transform duration-300"></i>
                        <p class="p-2">Web Developer</p>
                    </a>
                    <a href="https://leetcode.com/Rishabh9teen/" target="_blank"
                        class="flex flex-col justify-center items-center">
                        <i
                            class="fa-solid fa-code fa-2xl text-gray-700 dark:text-gray-300 p-4 hover:transform hover:scale-125 transition-transform duration-300"></i>
                        <p class="p-2">Problem Solver</p>
                    </a>
                    <a href="https://www.chess.com/member/strangeiswinner" target="_blank"
                        class="flex flex-col justify-center items-center">
                        <i
                            class="fa-solid fa-chess fa-2xl text-gray-700 dark:text-gray-300 p-4 hover:transform hover:scale-125 transition-transform duration-300"></i>
                        <p class="p-2">Chess Player</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <app-resume></app-resume>
    <app-skills></app-skills>
</div>