<div
    class="relative isolate overflow-hidden bg-gray-50 dark:bg-gray-950 bg-hero-pattern bg-cover bg-no-repeat bg-center bg-blend-exclusion">
    <app-header></app-header>
    <section class="relative w-full mx-auto">
        <div
            class="sm:px-8 px-6 pb-10 inset-0 max-w-7xl mx-auto flex flex-col items-center gap-2 text-gray-800 dark:text-white">
            <h2 class="font-black md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px]" data-aos="fade-up">Projects.
            </h2>
            <div class="pt-2 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
                <app-project-card [index]="0" [name]="'Justock'" data-aos="fade-up"
                    [description]="'JuStock is an Angular stock market analyzer that lets users explore, analyze, and stay updated.'"
                    [tags]="[{ name: 'Angular', color: 'text-red-500' },{ name: 'Firebase', color: 'text-emerald-500'},{ name: 'Tailwind CSS', color: 'text-violet-500'}]"
                    [image]="'https://res.cloudinary.com/dnp36kqdc/image/upload/v1693576153/CDN%20for%20portfolio/StockInvestSimulator_obxqm4.png'"
                    [hostLink]="'https://justock.netlify.app/'"
                    [sourceCodeLink]="'https://github.com/rishabh1S/StockMAnalyzer'">
                </app-project-card>
                <app-project-card [index]="1" [name]="'PokeStats'" data-aos="fade-up"
                    [description]="'Explore Pokemon details with a user-friendly interface, powered by ReactJS, Bootstrap, and the Poke API v2.'"
                    [tags]="[{ name: 'React', color: 'text-red-500' },{ name: 'Bootstrap', color: 'text-pink-500'},{ name: 'React Router', color: 'text-emerald-500'}]"
                    [image]="'https://res.cloudinary.com/dnp36kqdc/image/upload/v1693576153/CDN%20for%20portfolio/pokestats_njyzkn.png'"
                    [hostLink]="'https://pokestat4u.netlify.app/'"
                    [sourceCodeLink]="'https://github.com/rishabh1S/PokeStat'">
                </app-project-card>
                <app-project-card [index]="2" [name]="'Book Swap'" data-aos="fade-up"
                    [description]="'BookSwap: A web platform for connecting book enthusiasts, facilitating book exchanges, and sharing knowledge through a user-friendly interface.'"
                    [tags]="[{ name: 'Angular', color: 'text-red-500' },{ name: 'Firebase', color: 'text-emerald-500'},{ name: 'Tailwind CSS', color: 'text-violet-500'}]"
                    [image]="'https://res.cloudinary.com/dnp36kqdc/image/upload/v1695046723/CDN%20for%20portfolio/ReadCycleHub_xjrrva.png'"
                    [hostLink]="'https://read-cycle-hub.web.app/'"
                    [sourceCodeLink]="'https://github.com/rishabh1S/BookSwap'">
                </app-project-card>
                <app-project-card [index]="3" [name]="'Tenor Music'" data-aos="fade-up"
                    [description]="'Tenor is a Webcam mood detection app suggests music based on users emotions, powered by OpenCV.'"
                    [tags]="[{ name: 'Open CV', color: 'text-red-500' },{ name: 'Python', color: 'text-emerald-500'},{ name: 'CSS', color: 'text-violet-500'}]"
                    [image]="'https://res.cloudinary.com/dnp36kqdc/image/upload/v1693576154/CDN%20for%20portfolio/tenor_xktgg2.png'"
                    [hostLink]="'https://github.com/rishabh1S/Tenor'"
                    [sourceCodeLink]="'https://github.com/rishabh1S/Tenor'">
                </app-project-card>
            </div>
        </div>
    </section>
</div>