.my-gradient {
    background: #46938A;
    background: linear-gradient(-90deg, #46938A 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
      -90deg,
      #46938A 0%,
      rgba(60, 51, 80, 0) 100%
    );
}