<section class="relative">
    <div class="absolute inset-0 bg-cover bg-center bg-fixed"
        style="background-image: url('../../../assets/par-bg.jpg')"></div>
    <div class="relative z-10">
        <div
            class="max-w-full py-16 sm:py-20 flex flex-col justify-center items-center bg-gradient-to-br from-opacity-10 to-transparent backdrop-blur-sm">
            <h5 class="mb-6 text-3xl font-bold tracking-tight text-white">Check Out My Resume!</h5>
            <a href="https://shorturl.at/cnuxY" target="_blank"
                class="border font-thin text-xl px-5 py-2.5 text-center mx-2 mb-2 hover:bg-white hover:bg-opacity-30 hover:transform hover:scale-x-110 transition-transform duration-300"
                data-aos="flip-down">
                <span class="text-white">Grab a copy</span>
            </a>
        </div>
    </div>
</section>